.item {
  width: 100%;

  .main,
  .description {
    display: flex;
    align-items: center;
  }

  .main {
    justify-content: space-between;
    margin: 16px 0;

    :first-child {
      display: flex;
    }

    .temp {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      background: rgba(20, 165, 255, 0.15);
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 20px;
      color: #14a5ff;
      font-weight: 500;
      margin-right: 16px;
    }

    .title {
      display: flex;
      flex-direction: column;

      :first-child {
        font-size: 20px;
      }

      font-size: 14px;
    }

    .actions {
      display: flex;
      width: 160px;

      .btn {
        width: 100%;
        margin-right: 1px;
        justify-content: center;
      }
    }
  }

  .description {
    display: flex;
    justify-content: flex-start;
    background-color: #f8f9fd;
    padding: 8px 12px;

    span {
      margin-right: 24px;
    }
  }
}
